<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Name (A-Z)</a>
            <a class="dropdown-item" href="#">Name (Z-A)</a>
            <a class="dropdown-item" href="#">Rank (A-Z)</a>
            <a class="dropdown-item" href="#">Rank (Z-A)</a>
            
          </div>
        </li>
      </ul>
      <form id="searchForm" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Sessions" aria-label="Search">
        <button class="btn btn-outline-default my-2 my-sm-0">Search</button>
      </form> 
    </div>
  </nav>